@use '../../assets/sass/variables' as *;

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: red;
}

.show {
	display: inline;
}
