@use '../../assets/sass/variables' as *;

.form {
	display: flex;
	height: 800px;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	transform: translateX(-100%);
	transition: all ease-in 400ms;

	&--show {
		transform: translateX(0);
	}

	&__header {
		color: white;
	}

	&__label {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__checkbox {
		margin-left: 1rem;
	}
}
