@use '../../assets/sass/variables' as *;

.beer {
	width: 360px;
	max-height: 550px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	background-color: white;
	padding: 1rem;
	border-radius: 20px;

	&__img {
		max-height: 200px;
		align-self: center;
	}

	&__info {
		height: 2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 0.75rem;
		list-style: none;
		background: $color-accent;
		border-radius: 20px;
		color: #e1e1e1;

		&--item {
			text-align: center;
			padding: 0 1rem;

			&:nth-child(2) {
				border-left: solid 1px #e1e1e1;
				border-right: solid 1px #e1e1e1;
			}
		}
	}

	&__header {
		font-size: 1.4rem;

		&--quantity {
			font-size: 0.75rem;
		}
	}

	&__subheader {
		font-size: 0.6rem;
		color: $color-accent;
	}

	&__description {
		font-size: 0.8rem;
	}

	&__button {
		border: none;
		background: transparent;
		padding: 0.75rem;
		border-radius: 20px;
		color: white;
		font-weight: bold;
		font-size: 0.75rem;
		background-color: $color-background;
		transition: background-color ease-in 200ms;

		&:hover {
			background-color: $color-accent;
		}
	}
}

@media screen and (min-width: 800px) {
	.beer {
		width: 300px;

		&__info {
			font-size: 0.65rem;
		}

		&__header {
			font-size: 1.2rem;
		}
	}
}
