.beers {
	// width: 100%; // TODO - not ideal
	// margin-left: 250px;
	display: flex;
	flex-direction: column;
	// grid-template-columns: repeat(1, 1fr);
	color: black;
	padding: 0 1rem;
	align-items: center;
	justify-content: center;

	gap: 1rem;
}
