.beers {
	width: 100vw; // TODO - not ideal
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;

	color: black;
	padding: 0 1rem;
}

@media screen and (min-width: 800px) {
	.beers {
		grid-template-columns: repeat(3, 1fr);
	}
}
