@use '../../assets/sass/variables' as *;

.beers {
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	color: black;
	padding: 0 1rem;
}

.beers__header {
	font-size: 2rem;
	color: $color-background;
	padding: 1rem;
}

@media screen and (min-width: 800px) {
	.beers {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
