@use '../../assets/sass/variables' as *;

.sidebar {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	width: 300px;
	display: flex;

	&__main {
		width: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		// background-color: $color-primary;
		background: linear-gradient($color-primary, $color-background);
	}

	&__small {
		width: 50px;
		display: flex;
		background-color: $color-background;
		border-left: solid 1px $color-accent;
	}
}
