@use '../../assets/sass/variables' as *;

.navbar {
	height: 100vh;
	width: 50px;
	background-color: #494949;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: width ease-in-out 300ms;
}

.open {
	width: 200px;
}

.show {
	display: inline;
}
