@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

// $color-white: white;
// $color-accent: #dd1cad;
// $color-sidebar: #11020d;
// $color-background: #440935;
// $color-primary: #770f5d;
// $color-secondary: #aa1685;

$color-white: white;
$color-accent: #c23838;
$color-accent-dark: #672f34;
$color-sidebar: #212328;
$color-background: #212328;
$color-primary: #212328;
$color-secondary: #212328;

$color-text-primary: white;

$font-sans: 'Karla', sans-serif;
$font-serif: 'Merriweather', serif;
