@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

$color-white: white;
$color-accent: #dd1cad;
$color-sidebar: #11020d;
$color-background: #440935;
$text-primary: #770f5d;
$text-secondary: #aa1685;

$font-sans: 'Karla', sans-serif;
$font-serif: 'Merriweather', serif;
